//Weather Images Variables

$sun: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf8006f4ca3a637c83e9e/1500248069213/?format=750w");

$front-clouds-img: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf73d914e6bd0dee8bd15/1500247886771/front-clouds.png?format=750w");

$lt-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4766b8f5bacd6796db0/1500247160644/less-clouds-bkd.png?format=1000w");

$rain-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4b2cd39c3a76bf464b4/1500247225803/?format=1000w");

$snow-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4c07131a5b5c1e0666a/1500247236675/?format=1000w");

$lightning-clouds-img: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf75cff7c5001fe700da9/1500247904479/lightening-clouds.png?format=750w");

$dk-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4c97131a5b5c1e066c6/1500247243795/?format=1000w");

$more-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4586a496302302b2421/1500247130516/?format=1000w");

$mist-clouds-bkd: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf4586a496302302b2421/1500247130516/?format=1000w");

$boat-img: url("https://static1.squarespace.com/static/556cba8ee4b072fc1ba91786/t/596bf8c615d5dbaaaf49bd45/1500248262641/boat.png?format=750w");
